RAGFORGE_DATABASE_PATH=ragforge.db
RAGFORGE_API_KEY=
RAGFORGE_PROVIDER_URL=
RAGFORGE_PROVIDER_API_KEY=
RAGFORGE_PROVIDER_MODEL=
RAGFORGE_PROVIDER_TIMEOUT_SECONDS=15
RAGFORGE_MAX_INPUT_CHARS=1000000
RAGFORGE_MAX_UPLOAD_BYTES=10000000
RAGFORGE_MAX_TOP_K=20
RAGFORGE_EMBEDDER=
RAGFORGE_RERANKER=
